#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.form label {
  margin-right: 10px;
}

.error {
  color: red;
}
